# Lab FAT: ML
__Name: Makesh Srinivasan<br>
Registration number: 19BCE1717<br>
Course code: CSE4020<br>
Faculty: Dr. Abdul Quadir<br>
Slot: L31 + L32<br>
Date: 22-November-2021 Monday__

Question:<br>

<strong>AIM: </strong>Create a program to address the class imbalance problem for a synthetic binary classification dataset. The dataset must have at least 4 features
<br><hr>

L31 + L32 MACHINE LEARNING FAT LAB EXAM QUESTIONS



L31 + L32 MACHINE LEARNING FAT LAB EXAM QUESTIONS

Use of intelligence is highly appreciated.
You have to create an ipy notebook and conduct all the experiments.
Mention the question  in the text cell and next ’code cell’ shall contain the code related to the respective
question.
All your inferences shall be put in the text cell with the respective question number.
You are requested to convert interactive python note book (ipynb) into a pdf file (single file) and upload in Moodle and vtop
Upload the html file and jpynb file in respective links
Create a report after completing your experiment having the following details in the separate cell:

a)      Objective of the experiment 

b)     Inference from the experiment.

=================================================

Reg no and Name in the cell

Question No and Question in the cell

Aim 

Code with every step output

split x and y

correlation 

graphs plot

accuracy

etc etc

Inference in the last cell

=============================================

Methodology	         Comparitive analysis	             Output 


        10	                           10	                                        20

QUESTION 5



Create a program to address the class imbalance problem for a synthetic binary classification dataset. The dataset must have at least 4 features

a.The dataset should have 10,000 samples. Variate the class distribution of the samples to handle the implementation using different methods. 

b. Change the sampling strategy by altering the class distribution to see if there is any lift in performance 

c. Observe the change by calculating the accuracy. Also, display and plot the transformed dataset.

<h2><center>Part a</center></h2>

### Dataset generation:

The dataset should have 10,000 samples. Variate the class distribution of the samples to handle the implementation using different methods.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
import plotly.graph_objs as go
from numpy.random import seed
from numpy.random import randint
import plotly
import plotly.io as pio
import plotly.offline as pyo
pio.renderers.default='notebook'
pyo.init_notebook_mode(connected=True)

The seed function makes sure that the creation of the dataset is same for all runs. The question says minimum four features, hence, there are 4 as shown below. The qustion also says to variate the class distribution of the label (binary classification - only two classes) so I made a difference in the distribution with the ration of class1 to class2 as 1:3

In [38]:
seed(1)
feature_1 = randint(0, 10, 10000)
feature_2 = randint(0, 20, 10000)
feature_3 = randint(0, 30, 10000)
feature_4 = randint(0, 40, 10000)
label_c1 = randint(1, 2, 7500)
label_c2 = randint(0, 1, 2500)
label = np.array(list(label_c1) + list(label_c2))

In [39]:
data = pd.DataFrame({'feature_1':feature_1, 'feature_2':feature_2,'feature_3':feature_3, 'feature_4':feature_4, 'label':label})
data

      feature_1  feature_2  feature_3  feature_4  label
0             5         15          1          3      1
1             8          0         20         12      1
2             9          0         26         17      1
3             5          8         13         30      1
4             0          2          2         27      1
...         ...        ...        ...        ...    ...
9995          9         18         16         18      0
9996          4          9          7         11      0
9997          5          0          4         28      0
9998          3          8          5          9      0
9999          5          9         26         39      0

[10000 rows x 5 columns]

<h2><center>Part B</center></h2>

Change the sampling strategy by altering the class distribution to see if there is any lift in performance

__Values of the label - Outcome__

In [40]:
data.label.value_counts()

1    7500
0    2500
Name: label, dtype: int64

__Splitting x and y:__

In [41]:
X = data.drop(['label'],axis=1)
y = data['label']
X.head()

   feature_1  feature_2  feature_3  feature_4
0          5         15          1          3
1          8          0         20         12
2          9          0         26         17
3          5          8         13         30
4          0          2          2         27

Without any appliation of sampling strategy:

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 20)
model = KNeighborsClassifier()
model.fit(X_train, y_train)

y_predict = model.predict(X_test)
acc_n = accuracy_score(y_test, y_predict)
print("Accuracy = ", acc_n)
pd.crosstab(y_test, y_predict)

Accuracy =  0.6845

col_0    0     1
label
0       57   465
1      166  1312

In [43]:
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

In [44]:
over=RandomOverSampler()
Over_X,Over_y=over.fit_resample(X,y)

In [45]:
print(Counter(Over_y))
Over_y

Counter({1: 7500, 0: 7500})

0        1
1        1
2        1
3        1
4        1
        ..
14995    0
14996    0
14997    0
14998    0
14999    0
Name: label, Length: 15000, dtype: int64

In [56]:
train_x, test_x, train_y, test_y = train_test_split(Over_X,Over_y, test_size=0.2, random_state=10)
model = KNeighborsClassifier()
model.fit(train_x,train_y)
y_predict = model.predict(test_x)
over_acc = accuracy_score(test_y,y_predict)
print("Accuracy = ", over_acc)
pd.crosstab(test_y,y_predict)

Accuracy =  0.638

col_0     0    1
label
0      1094  392
1       694  820

In [47]:
from imblearn.under_sampling import RandomUnderSampler

In [48]:
under=RandomUnderSampler()
Under_X,Under_y=under.fit_resample(X,y)
print(Counter(Under_y))

Counter({0: 2500, 1: 2500})

In [49]:
Under_y

0       0
1       0
2       0
3       0
4       0
       ..
4995    1
4996    1
4997    1
4998    1
4999    1
Name: label, Length: 5000, dtype: int64

In [57]:
train_x, test_x, train_y, test_y = train_test_split(Under_X,Under_y, test_size=0.2, random_state=10)
model = KNeighborsClassifier()
model.fit(train_x,train_y)
y_predict = model.predict(test_x)

under_acc = accuracy_score(test_y,y_predict)
print("Accuracy = ", under_acc)
pd.crosstab(test_y,y_predict)

Accuracy =  0.521

col_0    0    1
label
0      269  239
1      240  252

In [51]:
from imblearn.over_sampling import SMOTE

In [52]:
smote=SMOTE()
SMOTE_X,SMOTE_y=smote.fit_resample(X,y)
print(Counter(SMOTE_y))

Counter({1: 7500, 0: 7500})

In [53]:
SMOTE_y

0        1
1        1
2        1
3        1
4        1
        ..
14995    0
14996    0
14997    0
14998    0
14999    0
Name: label, Length: 15000, dtype: int64

In [61]:
train_x, test_x, train_y, test_y = train_test_split(SMOTE_X,SMOTE_y, test_size=0.2, random_state=20)
model = KNeighborsClassifier()
model.fit(train_x,train_y)
y_predict = model.predict(test_x)

smote_acc = accuracy_score(test_y,y_predict)
print("Accuracy = ", smote_acc)
pd.crosstab(test_y,y_predict)

Accuracy =  0.6793333333333333

col_0     0    1
label
0      1187  284
1       678  851

<hr>

<div id="kmeans2"><center><h3>Part C</h3></center></div>

c. Observe the change by calculating the accuracy. Also, display and plot the transformed dataset.