# Exercises

In [5]:
# Lab 1: pandas, numpy and dataframes
# Lab 2A: matplotlib
# Lab 2B: seaborn
# Lab 3: Synthetic data generation
# Lab 4: Linear and multi-linear regression (sklearn)
# Lab 5: Logistic regresion (sklearn)
# Lab 6: DT and Naive bayes (sklearn)
# Lab 7: Regression and DT (manual for information gain only)
# Lab 8: Single layer perceptron (manual and sklearn)
# Lab 9: Oversampling, undersampling and SMOTE, KNN(sklearn)
# Lab 10: Simple vector machine (sklearn)
# Lab 11: KNN and Weighted KNN (manual only)
# Lab 12: K CROSS VALIDATION, Ensemble Stacking for Machine Learning, KNN (Sklearn)
# Lab 13: Kmeans (manual and sklearn) and Kmodes (sklearn)

In [1]:
# Fundamentals
import pandas as pd
import numpy as np
from numpy.random import randint
from six import StringIO

# Data visualisation
from sklearn.preprocessing import MinMaxScaler
from mpl_toolkits.mplot3d import Axes3D
from sklearn.tree import export_graphviz
from IPython.display import Image
import pydotplus
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
import plotly.graph_objs as go
import plotly
import plotly.io as pio
import plotly.offline as pyo
pio.renderers.default='notebook'
pyo.init_notebook_mode(connected=True)
import seaborn as sb

# preprocessing 
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import RandomOverSampler
from collections import Counter
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import SMOTE

# ML essentials
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

# Supervised learning
from sklearn import linear_model
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier 

# Unsupervised learning
from sklearn.cluster import KMeans
from kmodes.kmodes import KModes

# Loading data

In [7]:
def load(URL_):
    data = pd.read_csv(URL_, header = None)
    print("Data loaded...")
    # data = data[:100] # the first 100 rows contains 2 Iris species
    data = data.drop(3, axis=1) # drop the 4th column so that we can visualise in 3D
    data = data.rename({0: 'SepalLengthCm', 1: 'SepalWidthCm', 2: 'PetalLengthCm', 4: 'Species'}, axis=1)
    data=data.replace(to_replace="Iris-setosa",value=0)
    data=data.replace(to_replace="Iris-versicolor",value=1)
    data=data.replace(to_replace="Iris-virginica",value=2)
    #enc = LabelEncoder()
    #data.loc[:, ['Species']] = data.loc[:, ['Species']].apply(enc.fit_transform)

    return data
# data = pd.read_csv("winequalityN.csv")
data = load('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
data

Data loaded...

     SepalLengthCm  SepalWidthCm  PetalLengthCm  Species
0              5.1           3.5            1.4        0
1              4.9           3.0            1.4        0
2              4.7           3.2            1.3        0
3              4.6           3.1            1.5        0
4              5.0           3.6            1.4        0
..             ...           ...            ...      ...
145            6.7           3.0            5.2        2
146            6.3           2.5            5.0        2
147            6.5           3.0            5.2        2
148            6.2           3.4            5.4        2
149            5.9           3.0            5.1        2

[150 rows x 4 columns]

In [3]:
X = data.drop("Species", axis=1) # drop the label - Species
y = data[["Species"]]
X.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm
0            5.1           3.5            1.4
1            4.9           3.0            1.4
2            4.7           3.2            1.3
3            4.6           3.1            1.5
4            5.0           3.6            1.4

In [4]:
hair_colour = np.array(["blonde", "brunette", "red", "black", "brunette", "black", "red", "black"])
eye_colour = np.array(["amber", "grey", "green", "hazel", "amber", "grey", "green", "hazel"])
skin_colour = np.array(["fair", "brown", "brown", "brown", "fair", "brown", "fair", "fair"])
df = pd.DataFrame(data=hair_colour,columns=['hair_colour'])
df['eye_colour'] = eye_colour.tolist()
df['skin_colour'] = skin_colour.tolist()
df

  hair_colour eye_colour skin_colour
0      blonde      amber        fair
1    brunette       grey       brown
2         red      green       brown
3       black      hazel       brown
4    brunette      amber        fair
5       black       grey       brown
6         red      green        fair
7       black      hazel        fair

# Common code

In [ ]:
data.isnull().sum() # NA values
data['sulphates'].fillna(data['sulphates'].mean(), inplace=True) # Replace NA values
data.type.replace(('white','red'), (1,2), inplace=True) # Replace string with number
iris_df.shape # shape or the dimension
df.col.unique() # unique values in the column

# Encoder of the columns mentioned:
enc = LabelEncoder()
X.loc[:, ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety']] = X.loc[:, ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety']].apply(enc.fit_transform)

feature_2 = randint(0, 20, 30) # randomly generate 30 values of numbers between 0 and 20

Dear sir, if some libraries are not installed, run the following code.<br><br>
for conda environment:<br>
    import sys<br>
    !conda install --yes --prefix {sys.prefix} library<br><br>
if pip is installed:<br>
    import sys<br>
    !{sys.executable} -m pip install library<br>

In [ ]:
df.columns #get columns
df.dtypes # get data types
df.describe() # get info such as mean, median, percentiles, etc for int dataypes
df.describe(include="object") # numeric too

__select columns__

In [ ]:
df['col 1']
df.col_1

# for multiple cols at a time:
df[['col 1', 'col 2']]

In [ ]:
df.dropna(inplace=True)
df.drop('col name', axis = 1)